@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Playfair Display';
    background-color: rgb(198, 75, 255);
}

section{
    border:0px;
    background-color: rgb(249, 160, 243);

    cursor: pointer;
    width: 100%;
}
